<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
		<title>{{ block "title" .}} Articelate {{ end }} | Articlelate.com</title>
		<link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/public/fontawesome/css/all.css" />
		<link rel="stylesheet" href="/public/css/index.css" />
	</head>
	<body>
		{{ template "header" . }}
		<div class="container row col-md-12">
			<main class="col-md-12">
				{{ block "content" .}}
			    {{ end }}
			</main>
		</div>
		{{ template "footer" . }}
		<script src="/public/js/lib/jquery.min.js"></script>
		<script src="/public/js/lib/deparam.js"></script>
		<script src="/public/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="/public/js/app.js"></script>
	</body>
</html>