html {
	box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body{
	font-family: "Lato", sans-serif;
	background-color: #eee;
	padding-top: 5rem;
}


.heart-liked {
	color: red;
}


.u-pointer {
	cursor: pointer;
}

.comments:not(:last-child) {
	border-bottom: 1px solid #eee;
}

mark {
	background-color: yellow;
}