{{define "title" }} {{.title}} {{end}}

{{ define "content"}}
<section>
    <div>
          <form method="POST">
              <div class="form-group row col-md-12">
                   <label class="col-md-2 col-form-label">Title:</label>
                   <input required class="col-md-10 form-control" type="text" name="title">
              </div>
               <div class="form-group row col-md-12">
              <label class="col-md-2 col-form-label">Content:</label>
              <textarea required class="col-md-10 form-control" name="content"></textarea>
              </div>
              <div class="from-group col-md-12 text-right">
                <button class="btn btn-primary mb-2" type="submit">Submit</button>
              </div>
          </form>
    </div>
</section>
{{ end }}