
{{ define "title"}} {{.title}} {{ end }}

{{define "content" }}
{{ if not .page }}
<div>
	<p>No articles yet</p>
</div>
{{ else }}
{{range .page.Items}}
<div class="card mb-2 p-3">
	<a href="/article/{{.ID.Hex}}/view">
		<h3>{{.Title}}</h3>
	</a>
	{{$limit := 280}} 
	{{if not (ge $limit (len .Content))}}
	<p>
		{{truncate $limit .Content}}
		<a href="/article/{{.ID.Hex}}/view" class="text-warning"><strong>Read more</strong></a>
	</p>
	{{else}}
	<p>{{.Content}}</p>
	{{end}}
</div>
{{end}}

{{ with .page }}
{{template "pagination" .}}
{{ end }}
{{ end }}
{{ end }}
