{{define "title" }} Login to create posts {{end}}

{{ define "content" }}
<div class="col-md-4 mx-auto">
<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Login</a>
      </li>
      <li class="nav-item ml-auto">
        <a class="nav-link" href="/u/register">Register</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <form id="login-form" method="POST">
      <div class="form-group">
        {{ if .error }}
        <p style="color:red;">
          {{ .error.Error }}
        </p>
        {{ end }}
        <label for="login">Email or Username:</label>
        <input
          class="form-control"
          id="login"
          type="text"
          name="login"
          required
          autofocus
        />
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input
          class="form-control"
          id="password"
          type="password"
          name="password"
          required
        />
      </div>
      <div class="text-center">
         <button type="submit" class="btn btn-primary">
            Login
        </button>
      </div>
    </form>
  </div>
</div>
</div>

<div class="mt-4 text-center">
  <a href="/">(Home)</a>
</div>
{{ end }}


{{ define "scripts" }}
<script>
  confirmPassWordLength()
</script>
{{ end }}