{{define "title" }} {{.post.Title}} {{end}}

{{ define "content"}}
<section id="article" class="card mb-3">
  <article>
    <div class="card-header">
      <strong class="font-weight-bolder">{{.post.Title}}</strong>
      <small class="text-muted">
        &middot; <em>by</em> <strong>{{.post.Author.Username}}</strong> on
        {{.post.CreatedAt.Format "Mon Jan 2 15:04 2006"}}
      </small>
    </div>

    <div class="card-body bg-white">
      <div class="card-text">{{ .post.Content|linebreaks }}</div>
    </div>
  </article>
  {{if .user}}
  <div class="card-footer">
    <div class="container d-flex align-items-center">
        <div class="mr-4">
            <span
              id="like-btn"
              class="mr-2 u-pointer"
              data-id="{{.post.ID.Hex}}"
              data-url="{{.post.GetAbsoluteURL}}/like"
              data-action="{{if .user.LikedPost .post }}un{{ end }}like"
              >
              <i class="{{if .user.LikedPost .post }}heart-liked fas {{ end }}far fa-heart"></i>    
            </span>
            <span class="" id="likes"> {{len .post.Likes}} </span>
        </div>
        {{if .user.OwnsPost .post}}
        <div>
          <a href="{{ .post.GetAbsoluteURL }}/edit" class="text-dark">
            <i class="fas fa-edit"></i>
          </a>
        </div>

      <div class="ml-auto">
        <span
          class="u-pointer"
          data-toggle="modal"
          data-target="#deleteModal"
         >
          <i class="fa fa-trash-alt"></i>
        </span>
      </div>
      {{ end }}
  </div>
  <!-- Modal -->
  <div
    class="modal fade"
    id="deleteModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="deleteModalLabel"
    aria-hidden="true"
   >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">DELETE</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Are you sure you want to delete this post? This action is
            irreversible.
          </p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
          >
            Close
          </button>
          <form
            action="{{ .post.GetAbsoluteURL }}/delete"
            method="POST"
            class="mr-2"
          >
            <button class="btn btn-danger">Yes Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {{end}}
</section>

{{if .user}}
<section class="col-md-4 mb-3" id="write-comment">
  <h5>Post your comment</h5>
  <form method="POST" action="/{{ .post.GetAbsoluteURL }}/comment">
    <input type="hidden" name="post_id" value="{{.post.ID.Hex}}" />
    <div class="form-group">
      <textarea class="form-control" name="content" id="comment-body" required></textarea>
    </div>
    <button class="btn btn-primary btn-block" type="submit">Comment</button>
  </form>
</section>
{{end}}

<section class="card mb-4" id="comments">
  {{ $total_comments := len .post.Comments }}
  <h5 class="card-header">
    {{ $total_comments }} Comment{{ pluralize $total_comments }}
  </h5>
  {{if .post.Comments}}
  {{ range $i, $v := .post.Comments}}
  <div class="comments">
    <div class="ml-2 p-2">
        <strong>{{.Author.Username}}</strong> &middot;
        <small class="text-muted">{{.CreatedAt.Format "Mon Jan 2 15:04 2006"}}</small>
    </div>
    <div class="ml-4 mb-2">
      {{ .Content|linebreaks}}
    </div>
  </div>
  {{end}}
  {{else}}
  <p class="text-center my-2">No comments yet, be the first to comment on this post</p>
  {{end}}
</section>


{{if not .user}}
<div class="text-center mb-2">
  <p>
    <a href="/u/login">Login</a> or <a href="/u/register">Sign up</a> to post a
    comment
  </p>
</div>
{{end}}
{{ end }}

{{ define "scripts" }}
<script>
$(function () {
  //like functionality
  var actions = { like: 'Like', unlike: 'Unlike' };
  var likeBtn = $('#like-btn');
  var like = $('#likes');
  var likeCount = parseInt(like.text());
  likeBtn.on('click', function (e) {
    var $this = $(this);
    var currentAction = $this.data('action').toLowerCase();
    var nextAction = null;

    e.preventDefault();
    if (currentAction === actions.unlike.toLowerCase()) {
      likeCount--;
      nextAction = actions.like.toLowerCase();
    } else {
      likeCount++;
      nextAction = actions.unlike.toLowerCase();
    }
    //set next action
    $this.data('action', nextAction);
    var update = {
      action: currentAction,
      postID: $this.data("id")
    };
    $.post(
      $this.data("url"),
      JSON.stringify(update),
      function (data) {
        like.text(data.likes);
        $this
          .find('i')
          .toggleClass('heart-liked fas')
      }
    );
  });
});
</script>
{{ end }}