{{define "title" }} Register to join thousand of users {{end}}

{{ define "content" }}
<div class="col-md-4 mx-auto">
<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Register</a>
      </li>
      <li class="nav-item ml-auto">
        <a class="nav-link" href="/u/login">Login</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <form id="signup-form" method="POST">
      <div class="form-group">
        <label for="username">Username:</label>
        <input
          id="username"
          class="form-control"
          type="text"
          name="username"
          required
        />
      </div>
      <div class="form-group">
        <label for="email"> Email:</label>
        <input
          class="form-control"
          id="email"
          type="email"
          name="email"
          required
        />
      </div>

      <div class="form-group">
        <label for="password"> Password:</label>
        <input
          class="form-control"
          id="password"
          type="password"
          name="password"
          required
        />
      </div>
      <div class="form-group">
        <label for="confirm-password"> Confirm Password:</label>
        <input
          class="form-control"
          id="confirm-password"
          type="password"
          name="password"
          required
        />
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Sign up</button>
      </div>
    </form>
  </div>
</div>
</div>

<div class="mt-4 text-center">
  <a href="/">(Home)</a>
</div>
{{ end }}

{{ define "aside" }} {{ end }}